# Configuration file for ImageJ plugin "ijGranulometry"
#
# comments starts with #
# Each entry is menuname, "Command text", classname

Plugins>Granulometry, "Grayscale Granulometry (in diameter)", ijt.analysis.granulometry.Grayscale_Granulometry_By_Diameter
Plugins>Granulometry, "Grayscale Granulometry (in radius)", ijt.analysis.granulometry.Grayscale_Granulometry_By_Radius
Plugins>Granulometry, "-"
Plugins>Granulometry, "Batch Granulometry (in diameter)", ijt.analysis.granulometry.Batch_Granulometry_By_Diameter
